WebSite/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getHorasMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codAsig" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHorasMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHorasMediaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>